aiohttp==3.7.3
aiohttp-sse-client==0.1.7
async-exit-stack==1.0.1
async-timeout==3.0.1
attrs==20.3.0
cadCAD==0.4.23
cadcadgolem==0.1.0
certifi==2020.12.5
chardet==3.0.4
dill==0.3.3
fn==0.4.3
funcy==1.15
idna==2.10
jsonrpc-base==1.1.0
more-itertools==8.6.0
multidict==5.1.0
multiprocess==0.70.11.1
numpy==1.19.4
pandas==1.2.0
pathos==0.2.7
pox==0.2.9
ppft==1.6.6.3
python-dateutil==2.8.1
pytz==2020.5
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.2
ya-aioclient==0.3.0
yapapi==0.4.1
yarl==1.6.3
